<!-- <div class="wrapper"> -->
<!-- Navbar -->
<!-- <app-NavBar></app-NavBar> -->
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<!-- <app-MenuSide></app-MenuSide> -->

<!-- Content Wrapper. Contains page content -->

<!-- <router-outlet></router-outlet> -->
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<!-- <app-ControlSideBar></app-ControlSideBar> -->
<!-- /.control-sidebar -->
<!-- <app-Footer></app-Footer> -->
<!-- Main Footer -->
<!-- </div> -->
<div class="login"><app-Login></app-Login></div>
